/*=============== STORY ===============*/
.story__container {
    margin-top: 5em;
    row-gap: 7.5rem;
}

.story__data{
    margin-top: -9em;
}
.story__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
}

.story__description {
    margin-bottom: var(--mb-2-5);
}

.story__images {
    position: relative;
}

.story__img,
.story__square {
    width: 250px;
}

.story__square {
    height: 250px;
    background-color: var(--first-color);
}

.story__img {
    position: absolute;
    left: 3rem;
    top: -3rem;
}


@media screen and (min-width: 767px) {
    .story__container,
    .testimonial__container,
    .newsletter__bg {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 5em;
    }

    .story__section-title {
        text-align: initial;
    }

    .story__section-title::before {
        margin: initial;
    }

    .story__images {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .story__container,
    .testimonial__container {
        margin-top: 5em;
        column-gap: 8rem;
    }

    .story__square,
    .story__img,
    .testimonial__square,
    .testimonial__img {
        width: 450px;
    }

    .story__square,
    .testimonial__square {
        height: 450px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .story__container,
    .testimonial__container {
        margin-top: 5em;
        column-gap: 13rem;
    }

    .story__container {
        padding-top: 3rem;
    }

    .story__img {
        left: 5rem;
        top: -5rem;
    }
}